@font-face {
  font-family: comicSansMS;
  src: url(fonts/Qdbettercomicsans-jEEeG.ttf);
}

h2 {
  font-family: comicSansMS;
}

@font-face {
    font-family: comicSansMSBold;
    src: url(fonts/Qdbettercomicsansbold-511d8.ttf);
    font-weight: bold;
}

h1 {
    font-family: comicSansMSBold;
}

@font-face {
    font-family: comicSansMSAlt;
    src: url(fonts/Qdbettercomicsansalternates-z8823.ttf);
}

div {
    font-family: comicSansMSAlt;
}

@font-face {
    font-family: comicSansMSBoldAlt;
    src: url(fonts/Qdbettercomicsansboldalternates-6YYPY.ttf);
    font-weight: bold;
}

div {
    font-family: comicSansMSBoldAlt;
}